/***title {
  display: "wither & bloom";
}***/
body {
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    .content {
    font-size: 14px;
    font-color: white;
    background-color: black;
    }
    h1 {
    color: red;
    }
}
